{% render 'partials/header.liquid' %}

<main class="pagina">
  <section class="lijst">
    <div class="kop">
      <p>Instrument</p>
      <p>Status</p>
    </div>

    <ul>
      {% for instrument in instruments %}
        <li class="rij">
          <a href="/instrument/{{ forloop.index }}" class="instrument-link">
            <p>{{ instrument.name }}</p>
              {% if instrument.status == "Beschikbaar" %}
                <span class="beschikbaar">{{ instrument.status }}</span>
              {% elsif instrument.status == "Uitgeleend" %}
                <span class="uitgeleend">{{ instrument.status }}</span>
              {% elsif instrument.status == "In Reparatie" %}
                <span class="in-reparatie">{{ instrument.status }}</span>
              {% else %}
                <span>Beschikbaar</span>
              {% endif %}
            </p>
          </a>
        </li>
      {% else %}
        <li class="empty-state">
          <p>Geen instrumenten gevonden</p>
        </li>
        {% endfor %}
    </ul>
  </section>
</main>

{% render 'partials/footer.liquid'%}
