{% render 'partials/header.liquid' %}

<main class="pagina detail-pagina">
  <section class="detail">
    {% comment %} {% if instrument.photo %} {% endcomment %}
      <img src="https://fdnd-agency.directus.app/assets/{{ instrument.photo | width_url: width: '473x314' }}"  alt="{{ instrument.name }}" class="detail-foto" type="image/avif">
    {% comment %} {% else %}
      <div class="detail-foto leeg"></div>
    {% endif %} {% endcomment %}

    <div class="instrument-info">
      <h1>{{ instrument.name }}</h1>
      <p id="instrument-status">
        Status:
        {% if instrument.status.name %}
          {{ instrument.status.name }}
        {% elsif instrument.status %}
          {{ instrument.status }}
        {% else %}
          Beschikbaar
        {% endif %}
      </p>
    </div>
  </section>

  <form action="/instrument/{{ instrument.id }}/uitlenen" method="post">
    <section class="opmerking">
      <label for="huurder">Huurder:</label>
      <input id="huurder" name="huurder" type="text">

      <label for="accessoires">Accessoires:</label>
      <input id="accessoires" name="accessoires" type="text">

      <label for="opmerking">Opmerkingen:</label>
      <textarea id="opmerking" name="opmerking">{{ details }}</textarea>
    </section>

    <button class="knop-uitlenen" type="submit">Uitlenen<span class="loading"></span></button>
 
  </form>
</main>

{% render 'partials/footer.liquid'%}



<script>
  

// loading & succes state
const detailForm = document.querySelector("form")
const buttonForm = document.querySelector("form button")
const instrumentStatus = document.querySelector("#instrument-status")

detailForm.addEventListener("submit", async function(event) {
  //voorkom de standaard submit van de browser
  event.preventDefault()

  buttonForm.classList.add("loading")
  buttonForm.textContent = "loading..."

  let formData = new FormData(detailForm);

  // Data fetchen:
  // Doe een fetch naar de server net als hoe browsers dit normaal doen
  // gebruik daarvoor het action en method attribuut van het formulier
  // stuur de formulierelementen mee
  const response = await fetch(detailForm.action, {
    method: detailForm.method, //POST dus
    body: new URLSearchParams(detailForm) // << dit moet omdat server.js ander niet met de formulier data kan werken
  })

  // Data verwerken: 
  // De server geeft data terug als het posten goed gaat
  const responseData = await response.text()

  // Normaal zou de browser die HTML parsen en weergeven,
  // parse de nieuwe HTML en maak hiervan een nieuw Document Object Model in het geheugen
  const parser = new DOMParser()
  const responseDOM = parser.parseFromString(responseData, 'text/html')

  //Zoek in die nieuwe HTML DOM onze nieuwe UI state op, die we via liquid hebben klaargezet
  const newState = responseDOM.querySelector('#instrument-status')

  //Data van de server toevoegen aan de DOM,
  //overschrijf de HTML met de nieuwe HTML
  instrumentStatus.innerHTML = newState.innerHTML



})

</script>